body, html {
width: 100%;
height: 100%;
font-family: 'Poppins' , sans-serif;
color:  #222 ;
}

/*HEADER*/
.navbar-light { 
border-bottom: 2px solid 	#D3D3D3;
}

.navbar-brand img {
width: 80px ;
height: 60px;
}

.navbar-header {
margin: 0 auto;
}

.navbar i {
font-size: 2rem;
color: 	#D3D3D3;
}

.navbar i:hover {
cursor: pointer;
}

/*Функциональная часть*/

.chat-list {
margin-top: 20px;
display: flex;
}
.chat-list img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.chat-img {
margin-right: 20px;
}
