body, html {
width: 100%;
height: 100%;
font-family: 'Poppins' , sans-serif;
color:  #222 ;
}


/*HEADER*/
.navbar-light { 
border-bottom: 2px solid 	#D3D3D3;
}

.navbar-brand img {
width: 80px ;
height: 60px;
}

.navbar-header {
margin: 0 auto;
}

.navbar i {
font-size: 2rem;
color: 	#D3D3D3;
}

.navbar i:hover {
cursor: pointer;
}

/*Функциональная часть*/

/*Чат-лист*/
.chat-container{
display: flex;
}

.chat-list {
width: 30%;
min-height: 500px;
}

.chat-block {
width: 70%;
}

.chat-message {
display: flex;
border-bottom: 1px solid #D3D3D3;
padding: 20px 20px 10px 20px;
}

.chat-message img {
width: 60px;
height: 60px;
border-radius: 50%;
margin-right: 20px;
}

.chat-message p {
color: #D3D3D3;
}

.chat-date {
margin-left: 20px;
margin-top: 5px;
}

/*Рабочая часть*/

.chat-block {
display: flex;
flex-direction: column;
border-left: 1px solid #D3D3D3;
}

.message-block {
height: 90%;
background-color: #F4F7F4;
}

.message-block img {
height: 60px;
width: 60px;
border-radius: 50%;
}

.writing-block {
height: 10%;
position: fixed;
}

.message-in-img {
margin-left: 20px;
}

.message-out-img {
margin-right: 20px;
}

.message {
margin: 20px ;
display: flex;
justify-content: space-between;
width: 600px;
}

.received-message {
background-color: #C1E1FF;
padding: 10px;
border-radius: 15px;
}

.sent-message {
background-color:#D3D8D5;
padding: 10px;
border-radius: 15px;
}

.time-date {
white-space: pre;
font-size: 12px;
color: #D3D3D3;
text-align: right;
display: block;
margin-top: 5px;
}

